* {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}

body {margin: 0}

.page-wrapper {
  display: grid;
  place-items: center;
  padding: 0;
  gap: 30px;
  padding-top: 100px;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
}

header img {
  margin: 5px 0 0 8vw;
  max-width: 50px;
  width: 100%;
  height: auto;
  box-shadow: -2px 3px 23px 0px white;
}

.nav-link {color: white}

nav ul {
  display: flex;
  flex-direction: row;
  padding-right: 8vw;
  list-style: none;
}

li {padding-left: 5vw}

footer {
  justify-content: flex;
  height: 100%;
  display: flex;
  background-color: #333;
  width: 100%;
  text-align: center;
  color: white;
  flex-direction: column;
}

footer a {
  color: white;
}
